{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_slider-1">
			<!-- START Cocktails REVOLUTION SLIDER 6.5.6.16 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_1_1" style="" data-version="6.5.6.16">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-2" data-title="Slide" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-1-slide-2-layer-1" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:231px;y:45px;"
								data-text="w:normal;"
								data-dim="w:299px;h:449px;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0255/9616/6180/t/31/assets/fm_FULxVesper-1.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-2-layer-2" 
								data-type="text"
								data-color="#0097ab"
								data-rsp_ch="on"
								data-xy="x:560px;y:70px;"
								data-text="w:normal;s:50;l:56;ls:1;fw:700;"
								data-dim="w:568px;"
								data-frame_999="o:0;st:w;"
								style="z-index:8;font-family:'Roboto';"
							>Glass Half FUL Paloma 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-2-layer-3" 
								data-type="text"
								data-color="#00525f"
								data-rsp_ch="on"
								data-xy="x:560px;y:155px;"
								data-text="w:nowrap;s:25;l:38;fw:500;"
								data-dim="w:622px;h:214px;"
								data-frame_999="o:0;st:w;"
								style="z-index:11;font-family:'Roboto';"
							>• 1.5oz Mezcal Verde (for non-alc Lyre's Agave Blanco)<br>• 0.3oz lime juice<br>• 5oz FULwater Pink Grapefruit<br>• Method: build over ice cubes<br>• Garnish: cucumber ribbon  
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-2-layer-4" 
								data-type="shape"
								data-rsp_ch="on"
								data-xy="x:564px;y:134px;"
								data-text="w:normal;"
								data-dim="w:600px;h:0px;"
								data-border="bos:solid;boc:#00525f;bow:2px,1px,1px,1px;"
								data-frame_999="o:0;st:w;"
								style="z-index:12;background-color:rgba(0,82,95,0.5);"
							> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-3" data-title="Slide" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-1-slide-3-layer-1" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:210px;y:49px;"
								data-text="w:normal;"
								data-dim="w:299px;h:449px;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0255/9616/6180/t/31/assets/fm_FULxVesper-7.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-3-layer-2" 
								data-type="text"
								data-color="#0097ab"
								data-rsp_ch="on"
								data-xy="x:560px;y:70px;"
								data-text="w:normal;s:50;l:56;ls:1;fw:700;"
								data-dim="w:568px;"
								data-frame_999="o:0;st:w;"
								style="z-index:8;font-family:'Roboto';"
							>Spirulinha 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-3-layer-3" 
								data-type="text"
								data-color="#00525f"
								data-rsp_ch="on"
								data-xy="x:559px;y:158px;"
								data-text="s:25;l:38;fw:500;"
								data-dim="w:622px;h:369px;"
								data-frame_999="o:0;st:w;"
								style="z-index:11;font-family:'Roboto';"
							>• 1.5oz Novo Fogo silver cochaca<br>• 1.5oz FULwater White Peach<br>• 1oz acidified coconut water<br>• 0.5oz oleo saccharum<br>• 2 drops Droplet celery bitters <br>• Method: build over crushed ice<br>• Garnish: candied orange zest<br> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-3-layer-5" 
								data-type="shape"
								data-rsp_ch="on"
								data-xy="x:564px;y:134px;"
								data-text="w:normal;"
								data-dim="w:600px;h:0px;"
								data-border="bos:solid;boc:#00525f;bow:2px,1px,1px,1px;"
								data-frame_999="o:0;st:w;"
								style="z-index:12;background-color:rgba(0,82,95,0.5);"
							> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-4" data-title="Slide" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-1-slide-4-layer-1" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:209px;y:38px;"
								data-text="w:normal;"
								data-dim="w:299px;h:448px;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0255/9616/6180/t/31/assets/fm_FULxVesper-9.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-4-layer-2" 
								data-type="text"
								data-color="#0097ab"
								data-rsp_ch="on"
								data-xy="x:560px;y:70px;"
								data-text="w:normal;s:50;l:56;ls:1;fw:700;"
								data-dim="w:568px;"
								data-frame_999="o:0;st:w;"
								style="z-index:8;font-family:'Roboto';"
							>Badass Bitch 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-4-layer-3" 
								data-type="text"
								data-color="#00525f"
								data-rsp_ch="on"
								data-xy="x:559px;y:162px;"
								data-text="s:25;l:38;fw:500;"
								data-dim="w:622px;h:369px;"
								data-frame_999="o:0;st:w;"
								style="z-index:11;font-family:'Roboto';"
							>• 1oz Air Company Vodka<br>• 4oz FULwater Pink Grapefruit and Cucumber 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-4-layer-6" 
								data-type="shape"
								data-rsp_ch="on"
								data-xy="x:564px;y:134px;"
								data-text="w:normal;"
								data-dim="w:600px;h:0px;"
								data-border="bos:solid;boc:#00525f;bow:2px,1px,1px,1px;"
								data-frame_999="o:0;st:w;"
								style="z-index:12;background-color:rgba(0,82,95,0.5);"
							> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-11" data-title="Slide" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-1-slide-11-layer-1" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:231px;y:45px;"
								data-text="w:normal;"
								data-dim="w:299px;h:449px;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0255/9616/6180/t/31/assets/fm_Wavemaker_1.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-11-layer-2" 
								data-type="text"
								data-color="#0097ab"
								data-rsp_ch="on"
								data-xy="x:560px;y:70px;"
								data-text="w:normal;s:50;l:56;ls:1;fw:700;"
								data-dim="w:568px;"
								data-frame_999="o:0;st:w;"
								style="z-index:8;font-family:'Roboto';"
							>Wavemaker 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-11-layer-3" 
								data-type="text"
								data-color="#00525f"
								data-rsp_ch="on"
								data-xy="x:560px;y:155px;"
								data-text="w:nowrap;s:25;l:38;fw:500;"
								data-dim="w:622px;h:214px;"
								data-frame_999="o:0;st:w;"
								style="z-index:11;font-family:'Roboto';"
							>• 1.5oz Bruichladdich The Classic Laddie Whisky<br>• 0.5oz amontillado sherry<br>• 2 ounces Fulwater White Peach<br>• Method: build over ice cubes <br>• Garnish: Dried Orange Rind 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-11-layer-4" 
								data-type="shape"
								data-rsp_ch="on"
								data-xy="x:564px;y:134px;"
								data-text="w:normal;"
								data-dim="w:600px;h:0px;"
								data-border="bos:solid;boc:#00525f;bow:2px,1px,1px,1px;"
								data-frame_999="o:0;st:w;"
								style="z-index:12;background-color:rgba(0,82,95,0.5);"
							> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-12" data-title="Slide" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-1-slide-12-layer-1" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:175px;y:49px;"
								data-text="w:normal;"
								data-dim="w:299px;h:449px;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0255/9616/6180/t/31/assets/fm_FULxVesper-14.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-12-layer-2" 
								data-type="text"
								data-color="#0097ab"
								data-rsp_ch="on"
								data-xy="x:503px;y:70px;"
								data-text="w:normal;s:50;l:56;ls:1;fw:700;"
								data-dim="w:568px;"
								data-frame_999="o:0;st:w;"
								style="z-index:8;font-family:'Roboto';"
							>Blue Sky 
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-12-layer-3" 
								data-type="text"
								data-color="#00525f"
								data-rsp_ch="on"
								data-xy="x:497px;y:162px;"
								data-text="w:nowrap;s:25;l:38;fw:500;"
								data-dim="w:622px;h:214px;"
								data-frame_999="o:0;st:w;"
								style="z-index:11;font-family:'Roboto';"
							>• 1.5oz Two Drifters Signature Rum (non-alc Lyre’s Dark Cane Spirit)<br>• 4oz FULwater Lemon Ginger<br>• Dash angostura bitters<br>• Method: build over ice cubes<br>• Garnish: lime wedge  
							</rs-layer><!--

							--><rs-layer
								id="slider-1-slide-12-layer-7" 
								data-type="shape"
								data-rsp_ch="on"
								data-xy="x:501px;y:135px;"
								data-text="w:normal;"
								data-dim="w:730px;h:0px;"
								data-border="bos:solid;boc:#00525f;bow:2px,1px,1px,1px;"
								data-frame_999="o:0;st:w;"
								style="z-index:12;background-color:rgba(0,82,95,0.5);"
							> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_1_1',rl:[1240,1024,778,480],el:[600],gw:[1240],gh:[600],type:'carousel',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider11"]!==undefined) {window.RS_MODULES.modules["revslider11"].once = false;window.revapi1 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400%2C700%2C500" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		#rev_slider_1_1_wrapper .hebe.tparrows{cursor:pointer; background:rgba(255,255,255,0); min-width:70px; min-height:70px; position:absolute; display:block; z-index:1000}#rev_slider_1_1_wrapper .hebe.tparrows.rs-touchhover{}#rev_slider_1_1_wrapper .hebe.tparrows:before{font-family:'revicons'; font-size:30px; color:rgba(0,82,95,0.5); display:block; line-height:70px; text-align:center; -webkit-transition:color 0.3s; -moz-transition:color 0.3s; transition:color 0.3s; z-index:2; position:relative;  background:rgba(255,255,255,0); min-width:70px;  min-height:70px}#rev_slider_1_1_wrapper .hebe.tparrows.tp-leftarrow:before{content:'\e824'}#rev_slider_1_1_wrapper .hebe.tparrows.tp-rightarrow:before{content:'\e825'}#rev_slider_1_1_wrapper .hebe.tparrows.rs-touchhover:before{color:#000}.tp-title-wrap{position:absolute; z-index:0; display:inline-block; background:#000; background:rgba(0,0,0,0); min-height:60px; line-height:60px; top:-10px; margin-left:0px; -webkit-transition:-webkit-transform 0.3s; transition:transform 0.3s; transform:scalex(0);  -webkit-transform:scalex(0);  transform-origin:0% 50%;  -webkit-transform-origin:0% 50%}#rev_slider_1_1_wrapper .hebe.tp-rightarrow .tp-title-wrap{right:0px;  -webkit-transform-origin:100% 50%}#rev_slider_1_1_wrapper .hebe.tparrows.rs-touchhover .tp-title-wrap{transform:scalex(1); -webkit-transform:scalex(1)}#rev_slider_1_1_wrapper .hebe .tp-arr-titleholder{position:relative; text-transform:uppercase; color:rgba(255,255,255,0); font-weight:600; font-size:12px; line-height:90px; white-space:nowrap; padding:0px 20px 0px 90px}#rev_slider_1_1_wrapper .hebe.tp-rightarrow .tp-arr-titleholder{margin-left:0px;  padding:0px 90px 0px 20px}#rev_slider_1_1_wrapper .hebe.tparrows.rs-touchhover .tp-arr-titleholder{transform:translatex(0px);  -webkit-transform:translatex(0px); transition-delay:0.1s; opacity:1}#rev_slider_1_1_wrapper .hebe .tp-arr-imgholder{width:90px;   height:90px;   position:absolute;   left:100%;   display:block;   background-size:cover;   background-position:center center;  top:0px; right:-90px}#rev_slider_1_1_wrapper .hebe.tp-rightarrow .tp-arr-imgholder{right:auto;left:-90px}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof revQuery !== "undefined"){

		var	tpj = revQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = revQuery;

		})

		}

		var	revapi1;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider11"] = {init:function() {
			window.revapi1 = window.revapi1===undefined || window.revapi1===null || window.revapi1.length===0  ? document.getElementById("rev_slider_1_1") : window.revapi1;
			if(window.revapi1 === null || window.revapi1 === undefined || window.revapi1.length==0) { window.revapi1initTry = window.revapi1initTry ===undefined ? 0 : window.revapi1initTry+1; if (window.revapi1initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider11"].init()}); return;}
			window.revapi1 = revQuery(window.revapi1);
			if(window.revapi1.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_1_1"); return;}
			revapi1.revolutionInit({
					revapi:"revapi1",
					sliderType:"carousel",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					visibilityLevels:"1240,1024,778,480",
					visibilityLevelsKey:"64076db364845",
					gridwidth:1240,
					gridheight:600,
					lazyType:"smart",
					perspective:600,
					perspectiveType:"local",
					imgCrossOrigin:"anonymous",
					editorheight:"600,768,960,720",
					responsiveLevels:"1240,1024,778,480",
					carousel: {
						infinity:true,
						snap:false,
						maxOpacity:"0%"
					},
					progressBar:{disableProgressBar:true},
					navigation: {
						wheelCallDelay:1000,
						onHoverStop:false,
						arrows: {
							enable:true,
							tmp:"<div class=\"tp-title-wrap\">	<span class=\"tp-arr-titleholder\">{% echo '{{title}}' %}</span>    <span class=\"tp-arr-imgholder\"></span> </div>",
							style:"hebe",
							left: {
								container:"layergrid",
								h_offset:10,
								v_offset:7
							},
							right: {
								container:"layergrid",
								h_offset:10,
								v_offset:7
							}
						}
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:""
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            revQuery( "#revslider_drag_slider-1" ).after( "<div id='revslider_show_slider-1'></div>" );
                            revQuery( "#revslider_drag_slider-1" ).hide();
                            revQuery("#revslider_foot_slider-1").appendTo("#revslider_show_slider-1");
                            revQuery("#revslider_show_slider-1 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>