{% capture asset_url_rev %}{% include 'asset_url_rev' %}{% endcapture %}<div class = "" id="revslider_foot_cocktails-1">
			<!-- START Cocktails 1 REVOLUTION SLIDER 6.5.6.16 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_2_1_wrapper" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_2_1" style="" data-version="6.5.6.16">
					<rs-slides>
						<rs-slide style="position: absolute;" data-key="rs-5" data-title="Slide" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-2-slide-5-layer-0" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:525px;y:99px;"
								data-text="w:normal;"
								data-dim="w:253px;h:68px;"
								data-frame_999="o:0;st:w;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0729/2567/5853/t/4/assets/fm_WH_black.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-5-layer-1" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:254px;y:85px;"
								data-text="w:normal;"
								data-dim="w:126px;h:80px;"
								data-frame_999="o:0;st:w;"
								style="z-index:9;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0729/2567/5853/t/4/assets/fm_USDA_gray.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-5-layer-3" 
								data-type="text"
								data-color="#00525f"
								data-rsp_ch="on"
								data-xy="x:320px;y:224px;"
								data-text="w:normal;s:28;l:38;fw:700;a:center;"
								data-dim="w:670px;h:214px;"
								data-frame_999="o:0;st:w;"
								style="z-index:11;font-family:'Roboto';"
							>"Tastes like the soda you crave every now and then, but without the added sugars and empty calories." 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-5-layer-4" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:853px;y:94px;"
								data-text="w:normal;"
								data-dim="w:276px;h:76px;"
								data-frame_999="o:0;st:w;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0729/2567/5853/t/4/assets/fm_fast_company_logo_gray.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-5-layer-7" 
								data-type="text"
								data-color="#00525f"
								data-rsp_ch="on"
								data-xy="x:449px;y:342px;"
								data-text="w:normal;s:26;l:43;fw:500;"
								data-frame_999="o:0;st:w;"
								style="z-index:14;font-family:'Roboto';"
							>- Women's Health (Netherlands) 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-6" data-title="Slide" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-2-slide-6-layer-0" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:150px;y:99px;"
								data-text="w:normal;"
								data-dim="w:253px;h:68px;"
								data-frame_999="o:0;st:w;"
								style="z-index:12;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0729/2567/5853/t/4/assets/fm_WH_gray.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-6-layer-3" 
								data-type="text"
								data-color="#00525f"
								data-rsp_ch="on"
								data-xy="x:321px;y:225px;"
								data-text="w:normal;s:28;l:38;fw:700;a:center;"
								data-dim="w:670px;h:214px;"
								data-frame_999="o:0;st:w;"
								style="z-index:11;font-family:'Roboto';"
							>"Why the future of soda is blue." 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-6-layer-4" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:527px;y:101px;"
								data-text="w:normal;"
								data-dim="w:276px;h:76px;"
								data-frame_999="o:0;st:w;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0729/2567/5853/t/4/assets/fm_fast_company_logo_black.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-6-layer-7" 
								data-type="text"
								data-color="#00525f"
								data-rsp_ch="on"
								data-xy="x:551px;y:325px;"
								data-text="w:normal;s:26;l:43;fw:500;"
								data-frame_999="o:0;st:w;"
								style="z-index:14;font-family:'Roboto';"
							>- Fast Company 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-6-layer-9" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:922px;y:71px;"
								data-text="w:normal;"
								data-dim="w:143px;h:107px;"
								data-frame_999="o:0;st:w;"
								style="z-index:15;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0729/2567/5853/t/4/assets/fm_gray.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-7" data-title="Slide" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-2-slide-7-layer-2" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:910px;y:79px;"
								data-text="w:normal;"
								data-dim="w:134px;h:85px;"
								data-frame_999="o:0;st:w;"
								style="z-index:16;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0729/2567/5853/t/4/assets/fm_USDA_gray.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-7-layer-3" 
								data-type="text"
								data-color="#00525f"
								data-rsp_ch="on"
								data-xy="x:321px;y:225px;"
								data-text="w:normal;s:28;l:38;fw:700;a:center;"
								data-dim="w:670px;h:214px;"
								data-frame_999="o:0;st:w;"
								style="z-index:11;font-family:'Roboto';"
							>"The most ideal food for mankind." 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-7-layer-4" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:139px;y:100px;"
								data-text="w:normal;"
								data-dim="w:276px;h:76px;"
								data-frame_999="o:0;st:w;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0729/2567/5853/t/4/assets/fm_fast_company_logo_gray.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-7-layer-7" 
								data-type="text"
								data-color="#00525f"
								data-rsp_ch="on"
								data-xy="x:427px;y:324px;"
								data-text="w:normal;s:26;l:43;fw:500;"
								data-frame_999="o:0;st:w;"
								style="z-index:14;font-family:'Roboto';"
							>- United Nations World Food Conference 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-7-layer-9" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:592px;y:52px;"
								data-text="w:normal;"
								data-dim="w:170px;h:127px;"
								data-frame_999="o:0;st:w;"
								style="z-index:15;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0729/2567/5853/t/4/assets/fm_black.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide style="position: absolute;" data-key="rs-8" data-title="Slide" data-in="o:0;" data-out="a:false;">
							<img src="{{asset_url_rev}}dummy.png" alt="Alt" title="Image Title" data-lazyload="{{asset_url_rev}}transparent.png" class="rev-slidebg tp-rs-img rs-lazyload" data-no-retina>
<!--
							--><rs-layer
								id="slider-2-slide-8-layer-2" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:892px;y:93px;"
								data-text="w:normal;"
								data-dim="w:249px;h:67px;"
								data-frame_999="o:0;st:w;"
								style="z-index:16;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0729/2567/5853/t/4/assets/fm_WH_gray.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-8-layer-3" 
								data-type="text"
								data-color="#00525f"
								data-rsp_ch="on"
								data-xy="x:321px;y:225px;"
								data-text="w:normal;s:28;l:38;fw:700;a:center;"
								data-dim="w:670px;h:214px;"
								data-frame_999="o:0;st:w;"
								style="z-index:11;font-family:'Roboto';"
							>"Spirulina is Food for the future." 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-8-layer-4" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:228px;y:56px;"
								data-text="w:normal;"
								data-dim="w:160px;h:120px;"
								data-frame_999="o:0;st:w;"
								style="z-index:13;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0729/2567/5853/t/4/assets/fm_gray.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-8-layer-7" 
								data-type="text"
								data-color="#00525f"
								data-rsp_ch="on"
								data-xy="x:427px;y:324px;"
								data-text="w:normal;s:26;l:43;fw:500;"
								data-frame_999="o:0;st:w;"
								style="z-index:14;font-family:'Roboto';"
							>- US Department of Agriculture (USDA) 
							</rs-layer><!--

							--><rs-layer
								id="slider-2-slide-8-layer-9" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:585px;y:70px;"
								data-text="w:normal;"
								data-dim="w:141px;h:90px;"
								data-frame_999="o:0;st:w;"
								style="z-index:15;"
							><img src="{{asset_url_rev}}dummy.png" class="tp-rs-img rs-lazyload" data-lazyload="//cdn.shopify.com/s/files/1/0729/2567/5853/t/4/assets/fm_USDA.png" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_2_1',rl:[1240,1024,778,480],el:[600],gw:[1240],gh:[600],type:'carousel',justify:'',layout:'fullwidth',mh:"0"});if (window.RS_MODULES!==undefined && window.RS_MODULES.modules!==undefined && window.RS_MODULES.modules["revslider21"]!==undefined) {window.RS_MODULES.modules["revslider21"].once = false;window.revapi2 = undefined;if (window.RS_MODULES.checkMinimal!==undefined) window.RS_MODULES.checkMinimal()}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400%2C700%2C500" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<style type="text/css" id="rs-plugin-settings-inline-css">		#rev_slider_2_1_wrapper .hebe.tparrows{cursor:pointer; background:rgba(255,255,255,0); min-width:70px; min-height:70px; position:absolute; display:block; z-index:1000}#rev_slider_2_1_wrapper .hebe.tparrows.rs-touchhover{}#rev_slider_2_1_wrapper .hebe.tparrows:before{font-family:'revicons'; font-size:30px; color:rgba(0,82,95,0.47); display:block; line-height:70px; text-align:center; -webkit-transition:color 0.3s; -moz-transition:color 0.3s; transition:color 0.3s; z-index:2; position:relative;  background:rgba(255,255,255,0); min-width:70px;  min-height:70px}#rev_slider_2_1_wrapper .hebe.tparrows.tp-leftarrow:before{content:'\e824'}#rev_slider_2_1_wrapper .hebe.tparrows.tp-rightarrow:before{content:'\e825'}#rev_slider_2_1_wrapper .hebe.tparrows.rs-touchhover:before{color:#000}.tp-title-wrap{position:absolute; z-index:0; display:inline-block; background:#000; background:rgba(0,0,0,0); min-height:60px; line-height:60px; top:-10px; margin-left:0px; -webkit-transition:-webkit-transform 0.3s; transition:transform 0.3s; transform:scalex(0);  -webkit-transform:scalex(0);  transform-origin:0% 50%;  -webkit-transform-origin:0% 50%}#rev_slider_2_1_wrapper .hebe.tp-rightarrow .tp-title-wrap{right:0px;  -webkit-transform-origin:100% 50%}#rev_slider_2_1_wrapper .hebe.tparrows.rs-touchhover .tp-title-wrap{transform:scalex(1); -webkit-transform:scalex(1)}#rev_slider_2_1_wrapper .hebe .tp-arr-titleholder{position:relative; text-transform:uppercase; color:rgba(255,255,255,0); font-weight:600; font-size:12px; line-height:90px; white-space:nowrap; padding:0px 20px 0px 90px}#rev_slider_2_1_wrapper .hebe.tp-rightarrow .tp-arr-titleholder{margin-left:0px;  padding:0px 90px 0px 20px}#rev_slider_2_1_wrapper .hebe.tparrows.rs-touchhover .tp-arr-titleholder{transform:translatex(0px);  -webkit-transform:translatex(0px); transition-delay:0.1s; opacity:1}#rev_slider_2_1_wrapper .hebe .tp-arr-imgholder{width:90px;   height:90px;   position:absolute;   left:100%;   display:block;   background-size:cover;   background-position:center center;  top:0px; right:-90px}#rev_slider_2_1_wrapper .hebe.tp-rightarrow .tp-arr-imgholder{right:auto;left:-90px}</style><script type="text/javascript" id="rs-initialisation-scripts">
		if(typeof revQuery !== "undefined"){

		var	tpj = revQuery;

		}else{

		document.addEventListener("DOMContentLoaded", function(event) {

		var	tpj = revQuery;

		})

		}

		var	revapi2;

		if(window.RS_MODULES === undefined) window.RS_MODULES = {};
		if(RS_MODULES.modules === undefined) RS_MODULES.modules = {};
		RS_MODULES.modules["revslider21"] = {init:function() {
			window.revapi2 = window.revapi2===undefined || window.revapi2===null || window.revapi2.length===0  ? document.getElementById("rev_slider_2_1") : window.revapi2;
			if(window.revapi2 === null || window.revapi2 === undefined || window.revapi2.length==0) { window.revapi2initTry = window.revapi2initTry ===undefined ? 0 : window.revapi2initTry+1; if (window.revapi2initTry<20) requestAnimationFrame(function() {RS_MODULES.modules["revslider21"].init()}); return;}
			window.revapi2 = revQuery(window.revapi2);
			if(window.revapi2.revolution==undefined){ revslider_showDoubleJqueryError("rev_slider_2_1"); return;}
			revapi2.revolutionInit({
					revapi:"revapi2",
					sliderType:"carousel",
					DPR:"dpr",
					sliderLayout:"fullwidth",
					visibilityLevels:"1240,1024,778,480",
					visibilityLevelsKey:"643a94abe6375",
					gridwidth:1240,
					gridheight:600,
					lazyType:"smart",
					perspective:600,
					perspectiveType:"local",
					imgCrossOrigin:"anonymous",
					editorheight:"600,768,960,720",
					responsiveLevels:"1240,1024,778,480",
					carousel: {
						infinity:true,
						snap:false,
						maxOpacity:"0%"
					},
					progressBar:{disableProgressBar:true},
					navigation: {
						wheelCallDelay:1000,
						onHoverStop:false,
						arrows: {
							enable:true,
							tmp:"<div class=\"tp-title-wrap\">	<span class=\"tp-arr-titleholder\">{% echo '{{title}}' %}</span>    <span class=\"tp-arr-imgholder\"></span> </div>",
							style:"hebe",
							left: {
								container:"layergrid",
								h_offset:10,
								v_offset:14
							},
							right: {
								container:"layergrid",
								h_offset:10,
								v_offset:14
							}
						}
					},
					viewPort: {
						global:true,
						globalDist:"-200px",
						enable:false,
						visible_area:""
					},
					fallbacks: {
						allowHTML5AutoPlayOnAndroid:true
					},
			});
			
		}} 

		if (window.RS_MODULES.checkMinimal!==undefined) { window.RS_MODULES.checkMinimal();};
	</script>
<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            revQuery( "#revslider_drag_cocktails-1" ).after( "<div id='revslider_show_cocktails-1'></div>" );
                            revQuery( "#revslider_drag_cocktails-1" ).hide();
                            revQuery("#revslider_foot_cocktails-1").appendTo("#revslider_show_cocktails-1");
                            revQuery("#revslider_show_cocktails-1 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>