{% assign footer_item_width = '' %}
{% case section.blocks.size %}
{% when 1 %}
	{% assign footer_item_width = 'large--one-whole medium--one-whole small--one-whole' %}
{% when 2 %}
	{% assign footer_item_width = 'large--one-half medium--one-half small--one-whole' %}
{% when 3 %}
	{% assign footer_item_width = 'large--one-third medium--one-half small--one-whole' %}
{% when 4 %}
	{% assign footer_item_width = 'large--one-quarter medium--one-half small--one-whole' %}
{% endcase %}
{% capture women %}
 <svg width="119" height="53" viewBox="0 0 119 53" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M51.5577 6.01074C52.8057 6.01074 53.8175 7.02251 53.8175 8.27055C53.8175 9.51861 52.8057 10.5304 51.5577 10.5304C50.3096 10.5304 49.2979 9.51861 49.2979 8.27055C49.2979 7.02251 50.3096 6.01074 51.5577 6.01074Z" fill="white"/>
<path d="M42.1958 0.586914C43.4439 0.586914 44.4557 1.59868 44.4557 2.84673C44.4557 4.09477 43.4439 5.10654 42.1958 5.10654C40.9478 5.10654 39.936 4.09477 39.936 2.84673C39.936 1.59868 40.9478 0.586914 42.1958 0.586914Z" fill="white"/>
<path d="M51.5577 16.9863C52.8057 16.9863 53.8175 17.9981 53.8175 19.246C53.8175 20.4941 52.8057 21.5058 51.5577 21.5058C50.3096 21.5058 49.2979 20.4941 49.2979 19.246C49.2979 17.9981 50.3096 16.9863 51.5577 16.9863Z" fill="white"/>
<path d="M42.1958 22.3457C43.4439 22.3457 44.4557 23.3573 44.4557 24.6055C44.4557 25.8534 43.4439 26.8652 42.1958 26.8652C40.9478 26.8652 39.936 25.8534 39.936 24.6055C39.936 23.3573 40.9478 22.3457 42.1958 22.3457Z" fill="white"/>
<path d="M32.769 16.9863C34.0171 16.9863 35.0288 17.9981 35.0288 19.246C35.0288 20.4941 34.0171 21.5058 32.769 21.5058C31.521 21.5058 30.5093 20.4941 30.5093 19.246C30.5093 17.9981 31.521 16.9863 32.769 16.9863Z" fill="white"/>
<path d="M32.769 6.01074C34.0171 6.01074 35.0288 7.02251 35.0288 8.27055C35.0288 9.51861 34.0171 10.5304 32.769 10.5304C31.521 10.5304 30.5093 9.51861 30.5093 8.27055C30.5093 7.02251 31.521 6.01074 32.769 6.01074Z" fill="white"/>
<path d="M0.46875 2.91937H4.12054L8.06938 14.8277C8.498 16.0777 8.92414 18.0198 8.92414 18.0198C8.92414 18.0198 9.48197 16.1112 10.0088 14.8277L15.1405 2.68945H15.5692L20.7344 14.8277C21.142 15.8722 21.4937 16.9378 21.7881 18.0198C21.7881 18.0198 22.2478 16.0777 22.6764 14.8277L26.6253 2.91937H30.0137L22.2814 25.5222H21.8526L16.2949 12.1961C15.9394 11.3026 15.63 10.3914 15.3678 9.46619C15.3678 9.46619 14.8512 11.1114 14.3812 12.1961L8.69941 25.5196H8.26561L0.46875 2.91937Z" fill="white"/>
<path d="M55.9375 2.68945H56.2989L66.991 15.1918L77.5795 2.68945H77.9413V25.2923H74.6277V13.6707C74.6277 12.4207 74.7594 10.4476 74.7594 10.4476C74.1488 11.3891 73.4786 12.2907 72.7527 13.1464L67.1253 19.9283H66.7302L61.1053 13.1515C60.2504 12.1314 59.1322 10.4527 59.1322 10.4527C59.1322 10.4527 59.2638 12.4259 59.2638 13.6758V25.2975H55.9375V2.68945Z" fill="white"/>
<path d="M82.0298 2.91895H96.2341V5.97675H85.5165V14.6645H95.0255V17.6578H85.5165V22.2316H96.7014V25.292H82.0298V2.91895Z" fill="white"/>
<path d="M105.126 12.2296C104.238 11.287 103.021 9.73744 103.021 9.73744C103.152 10.8072 103.229 11.8829 103.251 12.9605V25.2976H100.025V2.68945H100.485L112.825 15.9356C113.68 16.8576 114.891 18.4356 114.891 18.4356C114.891 18.4356 114.661 16.4626 114.661 15.2099V2.91937H117.897V25.5222H117.468L105.126 12.2296Z" fill="white"/>
<path d="M2.50879 40.9216C2.50879 34.243 7.64042 29.4395 14.0581 29.4395C20.4759 29.4395 25.5739 34.243 25.5739 40.9216C25.5739 47.6002 20.4423 52.4038 14.0581 52.4038C7.67399 52.4038 2.50879 47.6002 2.50879 40.9216ZM22.0202 40.9216C22.0202 36.1516 18.7301 32.5644 14.0581 32.5644C9.38622 32.5644 6.0521 36.1516 6.0521 40.9216C6.0521 45.6917 9.37586 49.2789 14.0581 49.2789C18.7404 49.2789 22.0178 45.6917 22.0178 40.9216H22.0202Z" fill="white"/>
<path d="M26.3955 29.7371H30.0473L33.9961 41.6481C34.4248 42.8979 34.8509 44.8402 34.8509 44.8402C34.8509 44.8402 35.4113 42.9316 35.9357 41.6481L41.0672 29.5098H41.4959L46.6611 41.6481C47.0688 42.6925 47.4205 43.7581 47.7148 44.8402C47.7148 44.8402 48.1746 42.8979 48.6032 41.6481L52.5572 29.7371H55.9403L48.2081 52.3503H47.7794L42.2269 39.0138C41.8731 38.1203 41.5653 37.2091 41.3049 36.284C41.3049 36.284 40.7883 37.9291 40.3183 39.0138L34.6365 52.3374H34.2079L26.3955 29.7371Z" fill="white"/>
<path d="M64.0005 39.0467C63.1121 38.0937 61.8958 36.5467 61.8958 36.5467C62.0269 37.6164 62.1038 38.6923 62.1257 39.7699V52.1069H58.8999V29.5039H59.3597L71.6967 42.763C72.5516 43.685 73.7627 45.2631 73.7627 45.2631C73.7627 45.2631 73.533 43.2899 73.533 42.0374V29.7364H76.7559V52.3497H76.3273L64.0005 39.0467Z" fill="white"/>
<path d="M82.1616 29.7363H96.366V32.7968H85.6482V41.4821H95.1573V44.4753H85.6482V49.049H96.8334V52.1094H82.1616V29.7363Z" fill="white"/>
<path d="M100.157 29.7363H106.309C113.481 29.7363 118.251 34.212 118.251 40.9216C118.251 47.6312 113.507 52.1068 106.312 52.1068H100.157V29.7363ZM106.079 49.049C111.903 49.049 114.633 45.6916 114.633 40.9216C114.633 36.1516 111.903 32.7941 106.079 32.7941H103.644V49.0465L106.079 49.049Z" fill="white"/>
<path d="M48.4069 20.8605C48.4208 20.9003 48.4311 20.9408 48.4425 20.981C48.4266 20.9068 48.4059 20.8334 48.3813 20.7607C48.3898 20.794 48.3982 20.828 48.4069 20.8605Z" fill="white"/>
<path d="M37.8225 23.231C37.3269 23.231 36.861 23.0381 36.5106 22.6877C35.7875 21.9643 35.7875 20.7874 36.5106 20.0641C38.4284 18.1489 40.4143 17.1777 42.413 17.1777C42.6261 17.1778 42.8413 17.189 43.0527 17.2108C43.4215 17.249 43.7924 17.3221 44.1557 17.4284C43.9351 18.7218 44.0342 20.1884 44.4501 21.7906C44.0251 21.3957 43.4023 20.9702 42.6453 20.8998C42.5753 20.8933 42.5031 20.89 42.4311 20.89C41.1786 20.89 39.9469 21.8678 39.134 22.688C38.7838 23.0381 38.318 23.231 37.8225 23.231Z" fill="white"/>
<path d="M46.5198 23.3103C46.2493 23.3103 45.987 23.2498 45.74 23.1306C45.3083 22.922 44.9835 22.5577 44.8254 22.1048C44.7962 22.0206 44.7736 21.9357 44.7562 21.845C44.0585 19.2411 44.2047 17.0521 45.1903 15.3345C45.2957 15.152 45.4122 14.9728 45.5359 14.8023C45.7654 14.4853 46.0277 14.188 46.3164 13.918C47.2793 14.7314 48.5303 15.3686 50.038 15.8138C49.5091 15.9903 48.8585 16.3184 48.4313 16.9204C47.658 18.0054 47.8868 19.6927 48.2149 20.9169C48.3744 21.375 48.3467 21.8629 48.138 22.2948C47.9295 22.7266 47.5651 23.0514 47.112 23.2093C46.9197 23.2763 46.7206 23.3103 46.5198 23.3103Z" fill="white"/>
<path d="M50.9413 15.705C50.7849 15.705 50.6284 15.6843 50.4762 15.6435C47.8748 14.9467 46.0538 13.7228 45.0638 12.0059C44.9581 11.8224 44.8613 11.6321 44.7759 11.4404C44.7345 11.3475 44.6949 11.2526 44.6555 11.1504L44.6325 11.0872C44.603 11.0085 44.5747 10.9304 44.5493 10.8525L44.5334 10.8023C44.506 10.7171 44.4804 10.632 44.4574 10.5471L44.4509 10.5228C44.4315 10.4512 44.4136 10.3798 44.397 10.3087C45.6018 9.84723 46.7947 9.03841 47.9451 7.90332C47.9443 7.90673 47.9393 7.92805 47.9393 7.92805C47.9302 7.96799 47.9228 8.00155 47.9156 8.03583L47.9095 8.06563C47.8924 8.15078 47.8775 8.23853 47.8655 8.3264L47.8608 8.36268C47.8563 8.39777 47.8522 8.43299 47.8486 8.46857L47.8451 8.50567C47.8409 8.55254 47.8372 8.59943 47.8346 8.64701L47.834 8.6602C47.8319 8.70896 47.8306 8.75031 47.8301 8.792L47.8299 8.83606C47.8299 8.87434 47.8306 8.91249 47.8319 8.9509L47.833 8.98682C47.8354 9.03687 47.8387 9.08634 47.8434 9.13605L47.8471 9.17115C47.8516 9.21073 47.8564 9.24995 47.862 9.28941L47.8692 9.33594C47.8763 9.37904 47.8844 9.42191 47.8934 9.46478L47.8984 9.4894C47.9098 9.54099 47.9228 9.59175 47.9373 9.64229L47.9497 9.68282C47.9614 9.72155 47.9744 9.76031 47.9881 9.79895L48.004 9.84264C48.0234 9.89399 48.044 9.94452 48.067 9.99458C48.619 11.198 50.188 11.8441 51.4073 12.1742C51.871 12.2988 52.2582 12.5961 52.4977 13.0116C52.7374 13.4273 52.8009 13.9113 52.6765 14.3745C52.4661 15.1579 51.7526 15.705 50.9413 15.705Z" fill="white"/>
<path d="M36.4349 19.7254C36.4434 19.6892 36.4507 19.6564 36.4577 19.6227L36.4642 19.5916C36.4725 19.5507 36.4806 19.5092 36.4879 19.4666C36.4954 19.422 36.5021 19.3782 36.5081 19.3338L36.5126 19.3001C36.5172 19.2634 36.5213 19.2287 36.5249 19.1936L36.5287 19.156C36.5329 19.1096 36.5365 19.0633 36.5391 19.0162L36.54 18.9959C36.5419 18.9555 36.5431 18.9143 36.5437 18.873L36.5439 18.8287C36.5439 18.791 36.5432 18.7536 36.5419 18.7156L36.5407 18.6797C36.5384 18.6299 36.5351 18.5809 36.5305 18.5317L36.5278 18.5079C36.5223 18.4578 36.5173 18.4186 36.5117 18.3793L36.5045 18.3334C36.4974 18.2909 36.4894 18.2486 36.4805 18.2063L36.4754 18.1814C36.4638 18.1302 36.4509 18.0799 36.4364 18.0299L36.4239 17.9898C36.4123 17.9513 36.3994 17.913 36.3856 17.8748L36.3697 17.8314C36.3501 17.7803 36.3295 17.7302 36.3065 17.6805C35.7546 16.4889 34.1852 15.8492 32.9661 15.5224C32.5032 15.3996 32.1163 15.1054 31.8761 14.6938C31.6361 14.2823 31.5721 13.8037 31.6959 13.3458C31.8198 12.8873 32.1167 12.5039 32.532 12.2664C32.8057 12.11 33.1152 12.0273 33.4274 12.0273C33.5844 12.0273 33.7419 12.048 33.8952 12.0886C36.4955 12.7782 38.3173 13.99 39.3101 15.6902C39.4152 15.8709 39.512 16.0592 39.5979 16.25C39.6396 16.3424 39.6788 16.4361 39.7181 16.5368L39.7406 16.5979C39.7703 16.6762 39.7986 16.7538 39.8241 16.8313L39.8394 16.8791C39.8669 16.964 39.8925 17.0487 39.9159 17.1329L39.922 17.1556C39.9412 17.2259 39.9591 17.2963 39.9756 17.3666C38.7752 17.8243 37.5828 18.6261 36.4289 19.7511C36.4295 19.7485 36.4349 19.7254 36.4349 19.7254Z" fill="white"/>
<path d="M41.6431 10.4841L41.6255 10.4777L41.6172 10.4771C41.5512 10.4728 41.4852 10.4681 41.4198 10.4612C41.0193 10.4198 40.6193 10.3376 40.2296 10.2167C40.4338 8.94101 40.3291 7.49838 39.918 5.92655C40.2606 6.25375 40.8288 6.69379 41.5251 6.84373L41.9781 6.92147L41.9774 6.8998C42.9653 6.88412 44.0769 6.27389 45.2831 5.08509C45.6228 4.74551 46.0739 4.55859 46.5536 4.55859C47.0335 4.55859 47.4846 4.7454 47.8238 5.08474C48.163 5.42384 48.3499 5.87496 48.3499 6.3548C48.3499 6.83478 48.163 7.28577 47.8238 7.625C45.9975 9.45372 44.1027 10.4164 42.1916 10.4862L42.1062 10.4892L42.1066 10.4963L41.6431 10.4841Z" fill="white"/>
<path d="M38.0528 13.8117C37.0902 13.0003 35.8387 12.3642 34.3291 11.9189C34.8574 11.7425 35.5072 11.4145 35.9343 10.8129C36.7074 9.72791 36.479 8.04159 36.1512 6.81793C35.8507 5.87106 36.3745 4.85917 37.3184 4.55953C37.496 4.50311 37.6795 4.47461 37.8637 4.47461C38.1475 4.47461 38.4324 4.54446 38.6876 4.67673C39.1135 4.89734 39.4279 5.2706 39.573 5.72784C39.5904 5.78225 39.6049 5.83702 39.6176 5.89556C40.3153 8.4933 40.1663 10.6802 39.1754 12.3983C39.0702 12.5807 38.9537 12.7599 38.8297 12.9311C38.6008 13.2471 38.3397 13.5431 38.0528 13.8117Z" fill="white"/>
</svg>
{% endcapture %}
{% capture sustainable %}
  <svg width="262" height="75" viewBox="0 0 262 75" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M36.9654 74.3927C16.6438 74.3885 0.122683 57.8405 0.128908 37.4939C0.134096 17.1847 16.7019 0.670852 37.0557 0.688491C57.3608 0.705092 73.8528 17.276 73.8331 37.6412C73.8123 57.8809 57.2456 74.3958 36.9654 74.3927ZM54.6911 33.6975C55.2991 35.2164 55.8418 36.4169 56.2475 37.662C56.4083 38.1558 56.4882 38.9392 56.2153 39.2629C55.3987 40.233 54.4369 41.1004 53.4398 41.8931C52.8318 42.3766 52.1782 42.1287 51.8223 41.4325C51.3377 40.4852 50.8812 39.5213 50.4683 38.5418C49.9868 37.4026 49.5645 36.2374 49.1173 35.0847C49.0053 37.1639 49.1184 39.1945 49.3124 41.2177C49.5925 44.1488 49.6175 44.1457 52.4137 44.707C53.3288 44.8907 53.5571 45.4001 52.9698 46.1658C52.533 46.7344 52.0153 47.2677 51.4467 47.7035C50.3603 48.5356 49.8094 49.5223 49.9972 50.9386C50.1549 52.1245 50.047 53.2742 49.1339 54.236C47.2715 56.2001 45.5066 58.2596 43.5788 60.1553C43.1462 60.5807 42.1615 60.728 41.511 60.6004C39.411 60.1853 37.0827 57.2345 37.0049 55.0639C36.9903 54.6614 37.0391 54.1758 37.2518 53.8593C38.3838 52.1723 37.9563 50.6242 36.9519 49.0928C36.43 48.2959 35.9465 47.4731 35.3863 46.7054C34.1277 44.984 33.9524 44.9415 31.9665 45.5588C31.4944 45.7051 31.0264 45.866 30.5512 46.0019C28.805 46.501 24.2854 43.6622 23.9658 41.8589C23.9202 41.5995 23.9482 41.3266 23.9482 41.06C23.9472 39.5721 24.0312 38.078 23.9212 36.5985C23.833 35.4271 24.2605 34.7132 25.2918 34.2702C28.2945 32.9805 31.3107 31.7199 34.2906 30.3773C35.6363 29.7713 36.6936 29.9394 37.6212 31.0963C38.2313 31.8568 39.026 32.138 40.0356 32.1006C42.0547 32.0259 44.0779 32.0633 46.0991 32.0861C46.8617 32.0955 47.5081 32.0156 47.5143 31.0527C47.5195 30.1251 46.9281 30.01 46.1458 29.9301C45.6145 29.8751 45.1196 29.4569 44.6091 29.2017C44.8509 28.7213 45.0024 28.1579 45.3531 27.7771C46.0731 26.9948 46.926 26.337 47.6627 25.5692C47.8453 25.3793 47.9397 24.8647 47.8121 24.6811C47.6699 24.4767 47.1916 24.3449 46.926 24.4196C46.3512 24.5825 45.7899 24.8491 45.2721 25.1563C41.9872 27.1017 42.8868 27.3445 39.4888 25.1438C38.5353 24.5254 37.7125 24.4881 36.7621 25.1199C35.0169 26.2779 33.2281 27.3694 31.4601 28.493C30.6498 29.0077 29.8644 28.9766 29.1495 28.3426C28.446 27.719 28.0102 26.9419 28.4564 26.0081C29.0924 24.6759 29.7378 23.3333 30.544 22.1027C30.8303 21.6659 31.5805 21.3712 32.1511 21.309C34.2325 21.0818 36.3325 21.0382 38.4139 20.8151C40.1808 20.6242 40.7152 20.012 40.9486 18.2834C41.2578 16.0039 40.7069 15.5879 38.5591 16.4096C37.7114 16.7344 36.8357 17.0124 35.9476 17.1909C35.6 17.2604 35.186 16.9979 34.8021 16.8869C34.909 16.5424 34.9245 16.1212 35.1393 15.868C35.877 14.9996 36.6708 14.1747 37.4697 13.3602C38.8092 11.9938 40.3458 11.1575 42.3618 11.4573C43.1078 11.5684 43.8943 11.3951 44.6455 11.4895C48.0341 11.917 50.1798 9.51191 52.9127 8.1195C41.2163 1.41478 25.5502 3.03545 15.6778 11.7582C16.4632 12.7273 17.3099 13.6559 18.0071 14.6862C18.3122 15.1386 18.5954 15.9323 18.4014 16.3391C17.3452 18.5626 16.2018 20.7518 14.9505 22.8715C14.4431 23.7317 13.8507 23.5875 13.5093 22.6339C13.1887 21.7406 13.0206 20.7923 12.6761 19.9103C12.5568 19.6074 12.1024 19.2276 11.8108 19.2349C10.3759 19.2702 8.59022 21.779 8.98968 23.1704C9.52506 25.0338 10.075 26.8962 10.7214 28.7224C11.0959 29.7807 10.8386 30.481 9.91726 31.0216C8.14407 32.0602 6.40304 33.16 4.58938 34.1197C3.77905 34.5493 3.37025 35.065 3.41279 35.9552C3.50928 38.0085 3.67322 40.0619 3.68255 42.1152C3.69086 43.7784 4.34348 44.6956 5.9932 45.1843C8.87243 46.0372 11.0005 47.7201 11.2661 51.0112C11.2754 51.1243 11.3159 51.2343 11.347 51.3443C11.6323 52.3819 12.2736 53.049 13.3256 53.354C14.2377 53.6186 15.1486 53.906 16.0223 54.2733C17.3265 54.8232 17.6959 55.5142 17.3763 56.8973C16.9478 58.7473 16.4861 60.5941 15.9299 62.4088C15.6923 63.187 15.8065 63.6197 16.4612 64.1136C24.6942 70.3306 33.943 72.6475 43.9503 70.313C58.4492 66.9305 67.0983 57.5645 70.1041 43.0127C70.4662 41.2592 70.4641 39.431 70.6332 37.6091C66.5442 37.8207 66.2651 38.0428 65.0626 41.5985C64.8862 42.1193 64.5199 42.5759 64.0956 43.3188C63.5706 42.4814 63.1794 41.972 62.9086 41.4045C62.1055 39.7226 61.3533 38.0158 60.5751 36.3225C60.2763 35.6709 59.7949 35.1625 59.0603 35.5236C57.5486 36.2665 56.5203 35.6481 55.5938 34.5099C55.4112 34.2847 55.1611 34.1156 54.6911 33.6975Z" fill="white"/>
<path d="M92.9451 29.3738C91.9833 28.3581 91.5289 28.0375 90.593 27.6899C89.7121 27.3423 88.7762 27.1555 87.8673 27.1555C86.3711 27.1555 85.5421 27.637 85.5421 28.5189C85.5421 29.1871 85.9167 29.5347 86.9055 29.8013C88.9899 30.3626 89.6042 30.5494 90.4871 30.897C92.5176 31.753 93.6133 33.383 93.6133 35.6013C93.6133 38.9422 90.9146 41.4002 87.1991 41.4002C85.0607 41.4002 83.3249 40.8659 81.5081 39.6633V35.014C82.4958 36.0288 83.0043 36.4023 83.8862 36.7768C84.848 37.2043 85.8897 37.4181 86.8785 37.4181C88.2688 37.4181 89.1238 36.8837 89.1238 36.0018C89.1238 35.1199 88.6963 34.8262 86.3711 34.185C84.2338 33.5967 82.9233 32.9555 82.1493 32.1006C81.2943 31.1647 80.8389 29.9621 80.8389 28.5728C80.8389 25.0451 83.5656 22.666 87.5737 22.666C89.5782 22.666 91.1543 23.1474 92.9451 24.296V29.3738Z" fill="white"/>
<path d="M102.193 23.1221V32.9301C102.193 34.7739 102.273 35.3093 102.674 35.9505C103.022 36.5377 103.797 36.9123 104.625 36.9123C105.667 36.9123 106.522 36.351 106.842 35.523C107.056 34.9077 107.084 34.5601 107.084 32.9301V23.1221H111.813V32.9301C111.813 35.8166 111.787 36.2441 111.519 37.0721C110.69 39.7988 108.152 41.4018 104.652 41.4018C101.979 41.4018 99.7347 40.413 98.612 38.756C97.7301 37.4736 97.4624 36.2171 97.4624 33.1968V23.1221H102.193Z" fill="white"/>
<path d="M127.875 29.3738C126.913 28.3581 126.459 28.0375 125.523 27.6899C124.642 27.3423 123.706 27.1555 122.797 27.1555C121.301 27.1555 120.472 27.637 120.472 28.5189C120.472 29.1871 120.847 29.5347 121.836 29.8013C123.92 30.3626 124.534 30.5494 125.417 30.897C127.448 31.753 128.543 33.383 128.543 35.6013C128.543 38.9422 125.845 41.4002 122.129 41.4002C119.991 41.4002 118.255 40.8659 116.438 39.6633V35.014C117.426 36.0288 117.934 36.4023 118.816 36.7768C119.778 37.2043 120.82 37.4181 121.809 37.4181C123.199 37.4181 124.054 36.8837 124.054 36.0018C124.054 35.1199 123.626 34.8262 121.301 34.185C119.164 33.5967 117.854 32.9555 117.079 32.1006C116.225 31.1647 115.769 29.9621 115.769 28.5728C115.769 25.0451 118.496 22.666 122.504 22.666C124.508 22.666 126.084 23.1474 127.875 24.296V29.3738Z" fill="white"/>
<path d="M145.934 23.1211V27.7445H141.123V40.9464H136.394V27.7445H131.53V23.1211H145.934Z" fill="white"/>
<path d="M151.871 40.9464H147.195L152.353 23.1201H159.434L164.565 40.9464H159.756L158.686 37.0981H152.967L151.871 40.9464ZM155.799 26.2473L153.929 32.9552H157.697L155.799 26.2473Z" fill="white"/>
<rect x="168.066" y="23.1221" width="4.73025" height="17.8253" fill="white"/>
<path d="M192.669 40.9474H187.084L183.904 34.0258C182.968 31.8345 182.247 29.8029 181.632 27.5317H181.498C181.738 29.75 181.819 31.1922 181.899 34.5601V40.9474H177.41V23.1221H183.904L186.229 28.6803C187.164 31.0584 188.02 33.892 188.633 36.5377H188.795C188.367 32.6894 188.18 30.3912 188.18 28.1729V23.1221H192.669V40.9474Z" fill="white"/>
<path d="M200.846 40.9464H196.169L201.328 23.1201H208.409L213.54 40.9464H208.731L207.661 37.0981H201.943L200.846 40.9464ZM204.774 26.2473L202.904 32.9552H206.672L204.774 26.2473Z" fill="white"/>
<path d="M224.684 23.1201C226.876 23.1201 227.276 23.1471 227.971 23.3608C229.869 23.8952 230.805 25.2046 230.805 27.316C230.805 28.8392 230.269 30.1216 229.282 30.8977C228.532 31.459 227.864 31.6987 226.368 31.8595C228.265 32.0463 229.12 32.287 229.815 32.8753C230.59 33.5435 230.992 34.5862 230.992 35.9485C230.992 37.7653 230.189 39.3694 228.934 40.1444C227.917 40.7586 226.928 40.9464 224.496 40.9464H217.042V23.1201H224.684ZM221.531 30.3364H223.829C225.352 30.3364 226.1 29.775 226.1 28.6254C226.1 27.5298 225.513 27.1293 223.963 27.1293H221.531V30.3364ZM221.531 37.1241H223.855C224.764 37.1241 225.192 37.0442 225.566 36.8564C226.021 36.6167 226.288 36.0824 226.288 35.4671C226.288 34.746 225.967 34.1847 225.405 33.9709C225.032 33.8111 224.684 33.7572 223.829 33.7572H221.531V37.1241Z" fill="white"/>
<path d="M245.85 36.4828V40.9464H235.026V23.1211H239.757V36.4828H245.85Z" fill="white"/>
<path d="M261.533 23.1211V27.5836H253.89V30.0696H261.453V34.2116H253.89V36.8044H261.533V40.9464H249.401V23.1211H261.533Z" fill="white"/>
<path d="M92.7836 45.623V49.986H85.5736V52.7293H92.7058V56.7779H85.5736V63.0468H80.9502V45.623H92.7836Z" fill="white"/>
<path d="M111.818 53.6162C111.818 56.9592 110.983 59.7284 109.441 61.374C108.161 62.7332 106.202 63.4906 103.852 63.4906C98.7833 63.4906 96.04 60.1466 96.04 54.0343C96.04 51.0814 96.7196 48.7043 98 47.2673C99.2015 45.9102 101.291 45.1787 104.06 45.1787C109.441 45.1787 111.818 47.7643 111.818 53.6162ZM100.637 54.635C100.637 57.9262 101.735 59.5977 103.93 59.5977C105.183 59.5977 106.045 59.1017 106.568 58.0569C107.038 57.0899 107.325 55.6529 107.325 54.2428C107.325 51.3429 106.254 49.9328 104.007 49.9328C101.761 49.9328 100.637 51.5006 100.637 54.635Z" fill="white"/>
<path d="M130.828 53.6162C130.828 56.9592 129.993 59.7284 128.451 61.374C127.171 62.7332 125.212 63.4906 122.862 63.4906C117.794 63.4906 115.05 60.1466 115.05 54.0343C115.05 51.0814 115.73 48.7043 117.01 47.2673C118.212 45.9102 120.301 45.1787 123.071 45.1787C128.451 45.1787 130.828 47.7643 130.828 53.6162ZM119.648 54.635C119.648 57.9262 120.745 59.5977 122.94 59.5977C124.193 59.5977 125.055 59.1017 125.578 58.0569C126.048 57.0899 126.335 55.6529 126.335 54.2428C126.335 51.3429 125.264 49.9328 123.018 49.9328C120.771 49.9328 119.648 51.5006 119.648 54.635Z" fill="white"/>
<path d="M141.32 45.6221C143.253 45.6221 143.253 45.6221 143.959 45.7269C146.021 46.0143 147.354 46.8505 148.269 48.3135C149.079 49.6447 149.522 51.4999 149.522 53.5117C149.522 57.3517 148.086 60.591 145.735 61.9232C144.376 62.7065 142.835 63.0458 140.563 63.0458H134.711V45.6221H141.32ZM139.334 58.9973H140.589C142.156 58.9973 142.94 58.7887 143.671 58.161C144.481 57.4565 144.926 55.9676 144.926 54.0076C144.926 51.1875 143.906 49.985 141.476 49.985H139.334V58.9973Z" fill="white"/>
<path d="M173.47 51.7351C172.53 50.7421 172.086 50.4288 171.172 50.0895C170.31 49.7502 169.395 49.5666 168.507 49.5666C167.044 49.5666 166.234 50.0366 166.234 50.8988C166.234 51.5524 166.6 51.8917 167.567 52.1522C169.604 52.7021 170.206 52.8836 171.067 53.225C173.053 54.0602 174.124 55.6529 174.124 57.8214C174.124 61.0876 171.485 63.4906 167.854 63.4906C165.764 63.4906 164.067 62.9677 162.29 61.7921V57.2466C163.256 58.2406 163.753 58.6047 164.615 58.971C165.556 59.3891 166.574 59.5977 167.54 59.5977C168.9 59.5977 169.735 59.0758 169.735 58.2136C169.735 57.3514 169.317 57.064 167.044 56.4373C164.955 55.8625 163.674 55.2358 162.917 54.3995C162.081 53.4854 161.637 52.3099 161.637 50.9517C161.637 47.5028 164.301 45.1787 168.219 45.1787C170.179 45.1787 171.72 45.6487 173.47 46.7724V51.7351Z" fill="white"/>
<path d="M193.054 53.6162C193.054 56.9592 192.219 59.7284 190.677 61.374C189.397 62.7332 187.438 63.4906 185.088 63.4906C180.019 63.4906 177.276 60.1466 177.276 54.0343C177.276 51.0814 177.955 48.7043 179.236 47.2673C180.437 45.9102 182.527 45.1787 185.296 45.1787C190.677 45.1787 193.054 47.7643 193.054 53.6162ZM181.873 54.635C181.873 57.9262 182.971 59.5977 185.165 59.5977C186.419 59.5977 187.281 59.1017 187.804 58.0569C188.274 57.0899 188.56 55.6529 188.56 54.2428C188.56 51.3429 187.49 49.9328 185.243 49.9328C182.997 49.9328 181.873 51.5006 181.873 54.635Z" fill="white"/>
<path d="M201.468 45.623V55.2101C201.468 57.0134 201.546 57.5342 201.938 58.162C202.278 58.7368 203.035 59.102 203.845 59.102C204.864 59.102 205.7 58.5542 206.013 57.7449C206.223 57.1441 206.248 56.8038 206.248 55.2101V45.623H210.872V55.2101C210.872 58.0312 210.846 58.4494 210.585 59.2597C209.775 61.9242 207.294 63.4919 203.871 63.4919C201.259 63.4919 199.065 62.5249 197.968 60.9053C197.106 59.6519 196.844 58.4234 196.844 55.4716V45.623H201.468Z" fill="white"/>
<path d="M222.657 45.6221C225.113 45.6221 226.366 45.8576 227.306 46.5372C228.457 47.3206 229.058 48.6528 229.058 50.3513C229.058 52.0228 228.404 53.5895 227.306 54.4777C226.655 55.0006 226.027 55.261 224.643 55.5495L229.841 63.0458H224.225L221.378 58.5003C220.829 57.5862 220.359 56.724 220.018 55.9417V63.0458H215.395V45.6221H222.657ZM220.018 53.1983H221.665C223.519 53.1983 224.302 52.6235 224.302 51.3172C224.302 50.6906 224.094 50.1936 223.703 49.9331C223.388 49.7505 222.918 49.6717 221.821 49.6717H220.018V53.1983Z" fill="white"/>
<path d="M245.529 52.5444H245.319C244.562 50.9518 242.89 49.9318 240.983 49.9318C239.886 49.9318 238.892 50.324 238.161 51.0555C237.352 51.8658 236.959 53.0414 236.959 54.66C236.959 57.8215 238.396 59.5978 240.957 59.5978C242.942 59.5978 244.353 58.6577 245.319 56.6459H245.529V61.1385C243.673 62.837 242.133 63.4907 239.859 63.4907C235.183 63.4907 232.336 59.8852 232.336 53.9545C232.336 50.821 233.12 48.5218 234.635 47.0848C235.994 45.8304 237.849 45.1777 240.017 45.1777C242.315 45.1777 243.83 45.7785 245.529 47.3981V52.5444Z" fill="white"/>
<path d="M261.586 45.623V49.986H254.114V52.4149H261.507V56.4635H254.114V58.9982H261.586V63.0468H249.726V45.623H261.586Z" fill="white"/>
</svg>
{% endcapture %}
{% capture vegan %}
  <svg width="83" height="89" viewBox="0 0 83 89" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M10.8112 60.5581H5.73854L0.933594 44.3701H5.30173L7.12264 50.9462C7.75348 53.2527 7.94751 54.3691 8.2152 56.8935H8.33555C8.57938 54.6845 8.77237 53.592 9.52564 50.8258L11.3217 44.3701H15.7873L10.8112 60.5581Z" fill="white"/>
<path d="M29.9529 44.3701V48.4228H23.0127V50.6806H29.8813V54.4428H23.0127V56.7959H29.9529V60.5581H18.9351V44.3701H29.9529Z" fill="white"/>
<path d="M46.633 57.5968C46.5354 57.6694 46.5116 57.7182 46.4389 57.7908C46.3912 57.8396 46.3912 57.8645 46.1474 58.2764C45.2011 59.9033 42.9922 60.971 40.5653 60.971C36.1723 60.971 33.3335 57.5252 33.3335 52.161C33.3335 47.0396 36.1484 43.957 40.8807 43.957C43.0658 43.957 44.3524 44.4426 46.0747 45.972V50.6078H45.8807C44.8131 48.957 43.4051 48.1809 41.4638 48.1809C38.8907 48.1809 37.4101 49.8545 37.4101 52.7431C37.4101 55.7531 38.6728 57.5003 40.8569 57.5003C41.634 57.5003 42.1185 57.3302 42.5553 56.9182V52.3312H46.633V57.5968Z" fill="white"/>
<path d="M53.4529 60.5581H49.2051L53.8886 44.3701H60.3215L64.9812 60.5581H60.612L59.6409 57.0636H54.4479L53.4529 60.5581ZM57.02 47.2099L55.3215 53.3014H58.7434L57.02 47.2099Z" fill="white"/>
<path d="M82.0325 60.5581H76.9598L74.0713 54.2716C73.2225 52.2815 72.5668 50.4367 72.0086 48.3741H71.8872C72.1061 50.388 72.1788 51.6995 72.2514 54.7571V60.5581H68.1748V44.3701H74.0713L76.1827 49.4179C77.0335 51.5781 77.8096 54.1502 78.3678 56.5532H78.5131C78.124 53.0576 77.9549 50.9711 77.9549 48.9561V44.3701H82.0325V60.5581Z" fill="white"/>
<path d="M48.4641 13.568C46.4648 5.66074 37.0022 0.87343 36.4409 0.883806C36.2489 6.48145 33.0034 9.05875 35.0028 16.966C36.6422 23.4497 41.6484 26.6921 43.9383 27.8677C44.014 16.9567 38.074 5.68149 38.074 5.68149C44.1645 15.5964 45.7478 23.652 46.1545 26.8363C47.6663 24.4385 49.9727 19.535 48.4641 13.568Z" fill="white"/>
<path d="M51.8105 18.9865C61.5221 21.8875 69.6327 29.0737 73.5266 38.7199H76.99C72.8118 27.2196 63.2423 18.7033 51.77 15.6113C51.8883 16.7869 51.8956 17.9158 51.8105 18.9865Z" fill="white"/>
<path d="M32.5624 18.9865C32.4223 18.5632 32.2926 18.1295 32.1785 17.6802C32.0166 17.039 31.889 16.43 31.7842 15.8438C20.6771 19.1131 11.4615 27.4945 7.38184 38.7199H10.8463C14.7413 29.0737 22.8508 21.8875 32.5624 18.9865Z" fill="white"/>
<path d="M42.1872 85.1555C29.3546 85.1555 17.6447 77.8531 11.9474 66.4316H8.36475C14.3172 79.7726 27.5907 88.3916 42.1872 88.3916C56.7825 88.3916 70.056 79.7726 76.0085 66.4316H72.4258C66.7286 77.8531 55.0187 85.1555 42.1872 85.1555Z" fill="white"/>
</svg>
{% endcapture %}
{% capture nothing %}
  <svg width="133" height="42" viewBox="0 0 133 42" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18.1073 20.5567H11.9952L8.51522 12.9824C7.49072 10.5837 6.70108 8.36163 6.02923 5.87564H5.88308C6.14629 8.30273 6.23355 9.88202 6.32153 13.567V20.5567H1.40771V1.0498H8.51522L11.0594 7.13281C12.0831 9.73586 13.0189 12.8363 13.6915 15.7309H13.8668C13.3985 11.5195 13.1942 9.00439 13.1942 6.5773V1.0498H18.1073V20.5567Z" fill="white"/>
<path d="M40.0006 10.0003C40.0006 13.7435 39.0648 16.8432 37.3394 18.6857C35.9055 20.2068 33.7118 21.0546 31.0797 21.0546C25.4068 21.0546 22.3354 17.3107 22.3354 10.4679C22.3354 7.16242 23.096 4.50119 24.5291 2.89283C25.8743 1.37171 28.2141 0.553711 31.3145 0.553711C37.3394 0.553711 40.0006 3.44906 40.0006 10.0003ZM27.4827 11.1404C27.4827 14.8247 28.7108 16.697 31.1677 16.697C32.5717 16.697 33.5366 16.1415 34.1219 14.9716C34.6476 13.8889 34.9697 12.2805 34.9697 10.7013C34.9697 7.45544 33.7707 5.87616 31.2549 5.87616C28.7398 5.87616 27.4827 7.63068 27.4827 11.1404Z" fill="white"/>
<path d="M59.128 1.05078V6.11001H53.8645V20.5577H48.6874V6.11001H43.3643V1.05078H59.128Z" fill="white"/>
<path d="M73.9731 7.92245V1.0498H79.1494V20.5567H73.9731V13.0988H68.1824V20.5567H63.0054V1.0498H68.1824V7.92245H73.9731Z" fill="white"/>
<rect x="84.1431" y="1.05078" width="5.17703" height="19.5069" fill="white"/>
<path d="M110.965 20.5567H104.853L101.373 12.9824C100.348 10.5837 99.5585 8.36163 98.8866 5.87564H98.7405C99.0037 8.30273 99.091 9.88202 99.1789 13.567V20.5567H94.2651V1.0498H101.373L103.917 7.13281C104.941 9.73586 105.876 12.8363 106.549 15.7309H106.724C106.256 11.5195 106.052 9.00439 106.052 6.5773V1.0498H110.965V20.5567Z" fill="white"/>
<path d="M131.17 16.9893C131.052 17.0773 131.023 17.1355 130.936 17.2234C130.877 17.2816 130.877 17.3107 130.584 17.8088C129.444 19.7676 126.783 21.0546 123.858 21.0546C118.564 21.0546 115.143 16.9021 115.143 10.4381C115.143 4.26779 118.535 0.553711 124.239 0.553711C126.87 0.553711 128.42 1.13831 130.497 2.98081V8.56647H130.263C128.976 6.57855 127.28 5.64276 124.94 5.64276C121.84 5.64276 120.056 7.66049 120.056 11.1404C120.056 14.7665 121.577 16.873 124.209 16.873C125.145 16.873 125.73 16.6679 126.256 16.1706V10.6431H131.17V16.9893Z" fill="white"/>
<path d="M4.43344 40.9588H0.234375L4.86534 24.9521H11.2254L15.8331 40.9588H11.5133L10.5528 37.5028H5.41795L4.43344 40.9588ZM7.96138 27.7595L6.28102 33.7829H9.66572L7.96138 27.7595Z" fill="white"/>
<path d="M25.6048 24.9521C27.8611 24.9521 29.0135 25.1681 29.8766 25.792C30.9324 26.5118 31.485 27.7363 31.485 29.2952C31.485 30.8316 30.8851 32.2712 29.8766 33.0871C29.2767 33.567 28.7009 33.8069 27.4292 34.0716L32.2048 40.9588H27.0445L24.4291 36.783C23.9252 35.9432 23.4933 35.1513 23.1814 34.4315V40.9588H18.9336V24.9521H25.6048ZM23.1814 31.9113H24.693C26.3974 31.9113 27.1172 31.3834 27.1172 30.1837C27.1172 29.6078 26.9245 29.1519 26.5646 28.912C26.2774 28.744 25.8448 28.672 24.837 28.672H23.1814V31.9113Z" fill="white"/>
<path d="M47.4949 24.9521V29.104H43.1751V40.9595H38.9273V29.104H34.5596V24.9521H47.4949Z" fill="white"/>
<rect x="50.7207" y="24.9521" width="4.24778" height="16.0073" fill="white"/>
<path d="M69.9418 24.9521V28.96H63.3186V31.4801H69.8691V35.1993H63.3186V40.9595H59.0708V24.9521H69.9418Z" fill="white"/>
<rect x="73.5825" y="24.9521" width="4.24778" height="16.0073" fill="white"/>
<path d="M93.4376 31.3121H93.2456C92.5491 29.8485 91.0134 28.9127 89.2618 28.9127C88.254 28.9127 87.3422 29.2726 86.6697 29.9444C85.9265 30.689 85.5666 31.7688 85.5666 33.2564C85.5666 36.1598 86.8856 37.7921 89.2385 37.7921C91.0614 37.7921 92.3578 36.9283 93.2456 35.0807H93.4376V39.2078C91.7332 40.7675 90.3176 41.3674 88.23 41.3674C83.9343 41.3674 81.3188 38.0554 81.3188 32.6078C81.3188 29.7285 82.038 27.617 83.4304 26.2973C84.6781 25.1455 86.3824 24.5449 88.374 24.5449C90.4855 24.5449 91.8772 25.0968 93.4376 26.5845V31.3121Z" fill="white"/>
<rect x="97.2695" y="24.9521" width="4.24778" height="16.0073" fill="white"/>
<path d="M108.78 40.9588H104.581L109.212 24.9521H115.572L120.18 40.9588H115.86L114.899 37.5028H109.765L108.78 40.9588ZM112.308 27.7595L110.628 33.7829H114.012L112.308 27.7595Z" fill="white"/>
<path d="M133 36.9517V40.9595H123.28V24.9521H127.528V36.9517H133Z" fill="white"/>
</svg>
{% endcapture %}
<footer
  class="site-footer{% if template contains 'product' %}{% if settings.related_products_enable %}{% else %} product-sticker-stop{% endif %}{% endif %} footer-alignment--{{ section.settings.alignment }}"
  data-wetheme-section-type="footer" data-wetheme-section-id="{{ section.id }}"
>
  <div class="footer-top wrapper-padded">
    <a href="/pages/founders?view=founder">{{ women }}</a>
    <a href="/pages/sustainability?view=sustainability">{{ sustainable }}</a>
    {{ vegan }}
    {{ nothing }}
  </div>
	<div class="wrapper-padded">
		<div class="grid">

			{% for block in section.blocks %}

				{% case block.type %}

				{% when 'social' %}

	  			<div class="grid__item {{ footer_item_width }} social-media-footer" {{ block.shopify_attributes }}>
					{% if block.settings.social_title == "" %}
						<div class="h3 footer-header">{{ 'layout.footer.social_title' | t }}</div>
					{% else %}
						<div class="h3 footer-header">{{ block.settings.social_title | escape }}</div>
					{% endif %}
	  				{% render 'social-icons' %}
                  <div class="privacy-link">
                  <a href="/" class="footer--has-dropdown-title">Privacy Policy</a>
                  <a href="/" class="footer--has-dropdown-title">Terms & Conditions</a>
                  </div>
	  			</div>

			{% when 'menu' %}
                  
				{% assign menu = linklists[block.settings.footer_linklist] %}
                  
				<div class="grid__item {{ footer_item_width }} links-footer" {{ block.shopify_attributes }}>
					{% if block.settings.menu_title == "" %}
						<div class="h3 footer-header">{{ 'layout.footer.menu_title' | t }}</div>
					{% else %}
						<div class="h3 footer-header">{{ block.settings.menu_title | escape }}</div>
					{% endif %}
					<ul class="footer-content">
						{% for link in menu.links %}
							{% if link.links != blank %}
								<li>
									<a href="{{ link.url }}" class="footer--has-dropdown-title">{{ link.title }}</a>
									<ul class="footer--level-2">
										{% for sub_link in link.links %}
												<li><a href="{{ sub_link.url }}">{{ sub_link.title | escape }}</a></li>
										{% endfor %}
									</ul>
								</li>
							{% else %}
								<li>
									<a href="{{ link.url }}">{{ link.title }}</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
                  {% assign shop = linklists[block.settings.footer_linklist_2] %}
                <div class="grid__item {{ footer_item_width }} links-footer" {{ block.shopify_attributes }}>
					{% if block.settings.menu_title_2 == "" %}
						<div class="h3 footer-header">{{ 'layout.footer.menu_title' | t }}</div>
					{% else %}
						<div class="h3 footer-header">{{ block.settings.menu_title_2 | escape }}</div>
					{% endif %}
					<ul class="footer-content">
						{% for link in shop.links %}
							{% if link.links != blank %}
								<li>
									<a href="{{ link.url }}" class="footer--has-dropdown-title">{{ link.title }}</a>
									<ul class="footer--level-2">
										{% for sub_link in link.links %}
												<li><a href="{{ sub_link.url }}">{{ sub_link.title | escape }}</a></li>
										{% endfor %}
									</ul>
								</li>
							{% else %}
								<li>
									<a href="{{ link.url }}">{{ link.title }}</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
                  {% assign help = linklists[block.settings.footer_linklist_3] %}
                <div class="grid__item {{ footer_item_width }} links-footer" {{ block.shopify_attributes }}>
					{% if block.settings.menu_title_3 == "" %}
						<div class="h3 footer-header">{{ 'layout.footer.menu_title' | t }}</div>
					{% else %}
						<div class="h3 footer-header">{{ block.settings.menu_title_3 | escape }}</div>
					{% endif %}
					<ul class="footer-content">
						{% for link in help.links %}
							{% if link.links != blank %}
								<li>
									<a href="{{ link.url }}" class="footer--has-dropdown-title">{{ link.title }}</a>
									<ul class="footer--level-2">
										{% for sub_link in link.links %}
												<li><a href="{{ sub_link.url }}">{{ sub_link.title | escape }}</a></li>
										{% endfor %}
									</ul>
								</li>
							{% else %}
								<li>
									<a href="{{ link.url }}">{{ link.title }}</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
                  
				{% when 'text' %}

					<div class="grid__item {{ footer_item_width }} content-footer" {{ block.shopify_attributes }}>
						{% if block.settings.title == "" %}
							<div class="h3 footer-header">{{ 'layout.footer.contact' | t }}</div>
						{% else %}
							<div class="h3 footer-header">{{ block.settings.title | escape }}</div>
						{% endif %}
						{% if block.settings.richtext == "" %}
							<div class="rte footer-article">{{ 'layout.footer.contact_text' | t }}</div>
						{% else %}
							<div class="rte footer-article">{{ block.settings.richtext }}</div>
						{% endif %}
					</div>

				{% when 'image' %}

					<div class="grid__item {{ footer_item_width }} image-footer" {{ block.shopify_attributes }}>
                    {% if block.settings.image != blank %}
				      {%- assign img_url = block.settings.image | img_url: '600x' -%}
                        {% if block.settings.image.alt != empty %}
                            {% capture footer_alt %}{{ block.settings.image.alt }}{% endcapture %}
                        {% else %}
                            {% if block.settings.title != empty %}
                                {% capture footer_alt %}{{ block.settings.title }}{% endcapture %}
                            {% else %}
                                {% capture footer_alt %}{{ shop.name }}{% endcapture %}
                            {% endif %}
                        {% endif %}
				    {% else %}
				      {%- assign img_url = '' -%}
				    {% endif %}
				    {% if block.settings.link != blank and img_url != blank %}
				      <a href="{{ block.settings.link }}">
				    {% elsif img_url != blank %}
				      <div class="image-bar__item">
				    {% else %}
				      <div class="image-bar__item">
				    {% endif %}
				    <div class="image-bar__content">
				      {% if img_url == blank %}
				          {{ 'image' | placeholder_svg_tag: 'icon icon--placeholder' }}
				      {% else %}
						{% render 'responsive-image' with block.settings.image, alt: footer_alt | escape %}
				      {% endif %}
				    </div>
				    {% if block.settings.link != blank and img_url != blank %}
				      </a>
				    {% else %}
				      </div>
				    {% endif %}

				    {% if block.settings.title != blank %}
				      <h3 class="image-bar--title">{{ block.settings.title }}</h3>
				    {% endif %}
                    {% if block.settings.html != blank %}
				      {{ block.settings.html }}
				    {% endif %}
					</div>

				{% when 'newsletter' %}

					<div class="grid__item {{ footer_item_width }} newsletter-footer" {{ block.shopify_attributes }}>
						{% if block.settings.newsletter_title == "" %}
							<div class="h3 footer-header">{{ 'layout.footer.newsletter_title' | t }}</div>
						{% else %}
							<div class="h3 footer-header">{{ block.settings.newsletter_title | escape }}</div>
						{% endif %}
						{% if block.settings.footer_newsletter_description != empty %}
							{{ block.settings.footer_newsletter_description }}
						{% endif %}
						{% form 'customer', id: 'newsletter-footer_form' %}
							{{ form.errors | default_errors }}

							{% if form.posted_successfully? %}
								<p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
							{% else %}
								<div class="input-group">
                  <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email" class="input-group-field footer-email-input" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}">
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <span>
                    <input type="submit" class="btn footer-email-submit" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
                  </span>
								</div>
							{% endif %}
						{% endform %}
                  <div class="social-media-footer">
					<div class="h3 footer-header">Get connected</div>
	  				{% render 'social-icons' %}
                  <div class="privacy-link">
                  <a href="/policies/privacy-policy" class="footer--has-dropdown-title">Privacy Policy</a>
                  <a href="/policies/terms-of-service" class="footer--has-dropdown-title">Terms & Conditions</a>
                  </div>
	  			</div>
					</div>
			{% endcase %}
	{% endfor %}

</div>
    <div class="bottom--footer">

      {% if section.settings.footer_text != blank %}
        <div class="footer-description footer-description--{{ section.settings.alignment }}">
          {{ section.settings.footer_text }}
        </div>
      {% endif %}

      <div class="bottom--footer-row{% if section.settings.show_methods_of_payment %} bottom--footer--payment-methods{% endif %}">
        {% if section.settings.show_locale_selector == true or section.settings.show_currency_selector == true %}
            <div class="localization-form-wrapper">
                {% render 'localization-form', show_locale_selector: section.settings.show_locale_selector, show_currency_selector: section.settings.show_currency_selector %}
            </div>
        {% endif %}

        {% if section.settings.show_methods_of_payment %}
            {%- assign enabled_payment_types = shop.enabled_payment_types -%}
            {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,stripe,visa' | split: ',' -%}

            {% comment %}
            Uncomment next line to show all icons
            {%- assign enabled_payment_types = payment_icons_available -%}
            {% endcomment %}

            {% unless enabled_payment_types == empty %}
              <ul class="inline-list payment-icons">
                {% for type in shop.enabled_payment_types %}
                  {{ type | payment_type_svg_tag: class:'payment-icon' }}
                {% endfor %}
              </ul>
            {% endunless %}
        {% endif %}

        <ul class="bottom--footer---links">
          <li><a href="{{ routes.root_url }}">&copy; {{ 'now' | date: "%Y" }}, {{ shop.name }}</a></li>
          <li>{{ powered_by_link }}</li>
        </ul>

      </div>
    </div>
  </div>
</footer>

{% schema %}
{
    "name": {
        "en": "Footer",
        "de": "Fußzeile",
        "es": "Pie de página",
        "fr": "Pied de page",
        "pt-PT": "Rodapé"
    },
    "settings": [
        {
            "type": "checkbox",
            "id": "show_methods_of_payment",
            "label": {
                "en": "Show payment icons",
                "de": "Zahlungssymbole anzeigen",
                "es": "Mostrar iconos de pago",
                "fr": "Afficher les icônes de paiement",
                "pt-PT": "Mostrar ícones de pagamento"
            }
        },
        {
            "type": "select",
            "id": "alignment",
            "label": {
                "en": "Alignment",
                "de": "Ausrichtung",
                "es": "Alineación",
                "fr": "Alignement",
                "pt-PT": "Alinhamento"
            },
            "options": [
                {
                    "value": "left",
                    "label": {
                        "en": "Left",
                        "de": "Links",
                        "es": "Izquierda",
                        "fr": "Gauche",
                        "pt-PT": "Esquerda"
                    }
                },
                {
                    "value": "center",
                    "label": {
                        "en": "Center",
                        "de": "Mitte",
                        "es": "Centro",
                        "fr": "Centre",
                        "pt-PT": "Centro"
                    }
                }
            ],
            "default": "left"
        },
        {
            "type": "richtext",
            "id": "footer_text",
            "label": {
                "en": "Footer text",
                "de": "Footer-Text",
                "es": "Texto del pie de página",
                "fr": "Texte de bas de page",
                "pt-PT": "Texto de rodapé"
            }
        },
        {
            "type": "header",
            "content": {
              "en": "Country\/region selector",
              "de": "Auswahl für Land\/Region",
              "es": "Selector de país\/región",
              "fr": "Sélecteur de pays\/région",
              "pt-PT": "Seletor de país\/região"
            },
            "info": {
                "en": "To add a country\/region, go to your [market settings.](\/admin\/settings\/markets)",
                "de": "Gehe zu den [Markteinstellungen](\/admin\/settings\/markets), um ein Land \/ eine Region hinzuzufügen.",
                "es": "Para agregar un país\/región, ve a tu [configuración de mercado.](\/admin\/settings\/markets)",
                "fr": "Pour ajouter un pays\/une région, allez à vos [paramètres du marché.](\/admin\/settings\/markets)",
                "pt-PT": "Para adicionar um país\/região, vá a [configurações de mercado.](\/admin\/settings\/markets)"
            }
        },
        {
            "type": "checkbox",
            "id": "show_currency_selector",
            "label": {
              "en": "Enable country\/region selector",
              "de": "Auswahl für Land\/Region aktivieren",
              "es": "Activar selector de país\/región",
              "fr": "Activer le sélecteur de pays\/région",
              "pt-PT": "Ativar seletor de país\/região"
            },
            "default": true
        },
        {
            "type": "header",
            "content": {
              "en": "Language selector",
              "de": "Sprachauswahl",
              "es": "Selector de idioma",
              "fr": "Sélecteur de langue",
              "pt-PT": "Seletor de idioma"
            },
            "info": {
              "en": "To add a language, go to your [language settings.](\/admin\/settings\/languages)",
              "de": "Gehe zu den [Spracheinstellungen](\/admin\/settings\/languages), um eine Sprache hinzuzufügen.",
              "es": "Para agregar un idioma, ve a tu [configuración de idiomas.](\/admin\/settings\/languages)",
              "fr": "Pour ajouter une langue, allez à vos [paramètres de langue.](\/admin\/settings\/languages)",
              "pt-PT": "Para adicionar um idioma, vá a [definições de idioma.](\/admin\/settings\/languages)"
            }
        },
        {
            "type": "checkbox",
            "id": "show_locale_selector",
            "label": {
              "en": "Enable language selector",
              "de": "Sprachauswahl aktivieren",
              "es": "Activar selector de idioma",
              "fr": "Activer le sélecteur de langue",
              "pt-PT": "Ativar seletor de idioma"
            },
            "default": true
        }
    ],
    "blocks": [
        {
            "type": "text",
            "name": {
                "en": "Text",
                "de": "Text",
                "es": "Texto",
                "fr": "Texte",
                "pt-PT": "Texto"
            },
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": {
                        "en": "Heading",
                        "de": "Überschrift",
                        "es": "Encabezado",
                        "fr": "Rubrique",
                        "pt-PT": "Título"
                    }
                },
                {
                    "type": "richtext",
                    "id": "richtext",
                    "label": {
                        "en": "Text",
                        "de": "Text",
                        "es": "Texto",
                        "fr": "Texte",
                        "pt-PT": "Texto"
                    }
                }
            ]
        },
        {
            "type": "menu",
            "name": {
                "en": "Navigation",
                "de": "Navigation",
                "es": "Navegación",
                "fr": "La navigation",
                "pt-PT": "Navegação"
            },
            "settings": [
                {
                    "type": "text",
                    "id": "menu_title",
                    "label": {
                        "en": "Heading",
                        "de": "Überschrift",
                        "es": "Encabezado",
                        "fr": "Rubrique",
                        "pt-PT": "Título"
                    }
                },
                {
                    "type": "link_list",
                    "id": "footer_linklist",
                    "label": {
                        "en": "Footer menu",
                        "de": "Fußzeilenmenü",
                        "es": "Menú de pie de página",
                        "fr": "Menu de pied de page",
                        "pt-PT": "Menu de Rodapé"
                    },
                    "default": "footer",
                    "info": {
                        "en": "This navigation has limited support for dropdown items",
                        "de": "Dieses Menü hat nur begrenzte Unterstützung für Dropdown-Einträge",
                        "es": "Este menú tiene un soporte limitado para los menús desplegables.",
                        "fr": "Ce menu prend en charge un nombre limité d'éléments de la liste déroulante",
                        "pt-PT": "Este menu tem suporte limitado para itens suspensos"
                    }
                },
              {
                    "type": "text",
                    "id": "menu_title_2",
                    "label": {
                        "en": "Heading",
                        "de": "Überschrift",
                        "es": "Encabezado",
                        "fr": "Rubrique",
                        "pt-PT": "Título"
                    }
                },
                {
                    "type": "link_list",
                    "id": "footer_linklist_2",
                    "label": {
                        "en": "Footer menu",
                        "de": "Fußzeilenmenü",
                        "es": "Menú de pie de página",
                        "fr": "Menu de pied de page",
                        "pt-PT": "Menu de Rodapé"
                    },
                    "default": "footer",
                    "info": {
                        "en": "This navigation has limited support for dropdown items",
                        "de": "Dieses Menü hat nur begrenzte Unterstützung für Dropdown-Einträge",
                        "es": "Este menú tiene un soporte limitado para los menús desplegables.",
                        "fr": "Ce menu prend en charge un nombre limité d'éléments de la liste déroulante",
                        "pt-PT": "Este menu tem suporte limitado para itens suspensos"
                    }
                },
                {
                    "type": "text",
                    "id": "menu_title_3",
                    "label": {
                        "en": "Heading",
                        "de": "Überschrift",
                        "es": "Encabezado",
                        "fr": "Rubrique",
                        "pt-PT": "Título"
                    }
                },
                {
                    "type": "link_list",
                    "id": "footer_linklist_3",
                    "label": {
                        "en": "Footer menu",
                        "de": "Fußzeilenmenü",
                        "es": "Menú de pie de página",
                        "fr": "Menu de pied de page",
                        "pt-PT": "Menu de Rodapé"
                    },
                    "default": "footer",
                    "info": {
                        "en": "This navigation has limited support for dropdown items",
                        "de": "Dieses Menü hat nur begrenzte Unterstützung für Dropdown-Einträge",
                        "es": "Este menú tiene un soporte limitado para los menús desplegables.",
                        "fr": "Ce menu prend en charge un nombre limité d'éléments de la liste déroulante",
                        "pt-PT": "Este menu tem suporte limitado para itens suspensos"
                    }
                }
            ]
        },
        {
            "type": "newsletter",
            "name": {
                "en": "Newsletter",
                "de": "Newsletter",
                "es": "Boletín de noticias",
                "fr": "Bulletin d'information",
                "pt-PT": "Newsletter"
            },
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "newsletter_title",
                    "label": {
                        "en": "Heading",
                        "de": "Überschrift",
                        "es": "Encabezado",
                        "fr": "Rubrique",
                        "pt-PT": "Título"
                    }
                },
                {
                    "type": "richtext",
                    "id": "footer_newsletter_description",
                    "label": {
                        "en": "Newsletter description",
                        "de": "Newsletter-Beschreibung",
                        "es": "Descripción del boletín de noticias",
                        "fr": "Description du bulletin d'information",
                        "pt-PT": "Descrição da newsletter"
                    }
                }
            ]
        },
        {
            "type": "social",
            "name": {
                "en": "Social icons",
                "de": "Soziale Symbole",
                "es": "Iconos de redes sociales",
                "fr": "Icônes sociales",
                "pt-PT": "Ícones sociais"
            },
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "social_title",
                    "label": {
                        "en": "Heading",
                        "de": "Überschrift",
                        "es": "Encabezado",
                        "fr": "Rubrique",
                        "pt-PT": "Título"
                    }
                },
                {
                    "type": "paragraph",
                    "content": {
                        "en": "Edit your social settings and accounts in Theme settings",
                        "de": "Bearbeiten Sie Ihre sozialen Einstellungen und Konten in den Theme-Einstellungen.",
                        "es": "Edite sus ajustes de redes sociales y cuentas en la configuración del tema",
                        "fr": "Modifiez les paramètres de vos médias sociaux et de vos comptes dans les paramètres du Thème",
                        "pt-PT": "Edite as suas configurações e contas sociais nas configurações do Tema"
                    }
                }
            ]
        },
        {
            "type": "image",
            "name": {
                "en": "Image",
                "de": "Bild",
                "es": "Imagen",
                "fr": "Image",
                "pt-PT": "Imagem"
            },
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": {
                        "en": "Image",
                        "de": "Bild",
                        "es": "Imagen",
                        "fr": "Image",
                        "pt-PT": "Imagem"
                    }
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": {
                        "en": "Link",
                        "de": "Link",
                        "es": "Enlace",
                        "fr": "Lien",
                        "pt-PT": "Ligação"
                    },
                    "info": {
                        "en": "Optional",
                        "de": "Optional",
                        "es": "Opcional",
                        "fr": "Facultatif",
                        "pt-PT": "Opcional"
                    }
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": {
                        "en": "Title",
                        "de": "Titel",
                        "es": "Título",
                        "fr": "Titre",
                        "pt-PT": "Título"
                    },
                    "info": {
                        "en": "Optional",
                        "de": "Optional",
                        "es": "Opcional",
                        "fr": "Facultatif",
                        "pt-PT": "Opcional"
                    }
                },
              {
                    "type": "html",
                    "id": "html",
                    "label": {
                        "en": "HTML",
                        "de": "HTML",
                        "es": "HTML",
                        "fr": "HTML",
                        "pt-PT": "HTML"
                    },
                    "info": {
                        "en": "Optional",
                        "de": "Optional",
                        "es": "Opcional",
                        "fr": "Facultatif",
                        "pt-PT": "Opcional"
                    }
                }
              
            ]
        }
    ]
}
{% endschema %}
